@{
    ViewBag.Title = "在线预览对接项目示例";
}

<div class="jumbotron">
    <h1>WPS 在线预览</h1>
    <p class="lead">这是一个在线预览对接项目示例</p>
    <p>
        <a href="@(ViewBag.ServerPreviewUrlPrefix + "/v1/view/preview?fname=20181220A.txt")" class="btn btn-primary btn-lg" target="_blank">立即预览 &raquo;</a>
        <a href="@(ViewBag.ServerPreviewUrlPrefix + "/v1/view?fname=20181220A.txt")" class="btn btn-primary btn-lg" target="_blank">预览地址 &raquo;</a>
        <a href="@(ViewBag.ServerPreviewUrlPrefix + "/v1/view/workstatus")" class="btn btn-primary btn-lg" target="_blank">数据采集 &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>在线预览</h2>
        <p>
            预览请求有两种：
            1，是请求预览页面（适用于小文档或已经预览过的文档）；
            2，是预转换，后台请求预览地址（用于需要提前将文件预览地址准备好的场景）；
        </p>
        <p>
            <a class="btn btn-default" href="@(ViewBag.ServerPreviewUrlPrefix + "/v1/view/preview?fname=20181220A.txt")" target="_blank">预览页面 &raquo;</a>
            <a class="btn btn-default" href="@(ViewBag.ServerPreviewUrlPrefix + "/v1/view?fname=20181220A.txt")" target="_blank">预览地址 &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>OfficeD</h2>
        <p>文档处理与转换服务，基于WPS的服务端文档转换处理服务器。它提供了将文档转换成PDF的接口。用户通过调用接口实现在系统中将普通文档转换成PDF。</p>
        <p><a class="btn btn-default" href="./wpspreview/officeD/CreateSession?fname=20181220A.txt" target="_blank">文档转PDF &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>